<!DOCTYPE html>
<html>
<head>
  <title>Practice</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand mb-0">Practice</span>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Latest', latest_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sessions', practice_sessions_path, class: 'nav-link' %>
      </li>
    </ul>
  </nav>

  <div class="container container--main">
    <%= yield %>
  </div>
</body>
</html>
