<!DOCTYPE html>
<html>
<head>
  <title>Practice</title>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
  <nav class="nav">
    <div class="nav__logo">Practice</div>

    <div>
      <%= active_link_to 'New Goal', new_practice_session_path, class: 'nav__link' %>
    </div>
    <div>
      <%= active_link_to 'Latest', latest_path, class: 'nav__link' %>
    </div>
    <div>
      <%= active_link_to 'Sessions', practice_sessions_path, class: 'nav__link', active: :exact %>
    </div>
  </nav>

  <main class="main">
    <%= yield %>
  </main>
</body>
</html>
